/* :root{
    --univas_color: #2cbc59;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}
section{
    width: 100%;
    max-width: 60rem;
    margin: 1em 0;
    font-weight: normal;
}
.body h1{
    font-weight: bold;
    font-size: 3rem;
    margin: .5em 0;
}
.body h2{
    font-weight: bold;
    font-size: 1.875rem;
    margin: .3em 0;
} */

.contato ul li{
    margin: 1rem 0;
}
/* form{
    display: flex;
    flex-direction: column;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
.formContato .input input, .formContato  select{
    background-color: white;
    padding: 1em;
    border: 2px solid black;
    border-radius: 0;
}
.formContato input:focus, .formContato select:focus{
    outline: none;
    border-color: var(--univas_color);
    border-radius: 0;
}

.formContato .input label{
    margin: .5em 0;
}
button{
    text-align: center;
    padding: 10px 25px;
    align-self: center;
    background-color: white;
    font-weight: bold;
    outline: none;
    border: 2px solid black;
    border-radius: 0;
}
button:hover{
    transition-duration: .5s;
    background-color: black;
    color: white;
} */