form{
    display: flex;
    flex-direction: column;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
form .input input, form  select{
    background-color: white;
    padding: 1em;
    border: 2px solid black;
    border-radius: 0;
}
form input:focus, form select:focus{
    outline: none;
    border-color: var(--univas_color);
    border-radius: 0;
}

form .input label{
    margin: .5em 0;
}
/* button{
    text-align: center;
    padding: 10px 25px;
    align-self: center;
    background-color: white;
    font-weight: bold;
    outline: none;
    border: 2px solid black;
    border-radius: 0;
}
button:hover{
    transition-duration: .5s;
    background-color: black;
    color: white;
} */
/* --------------- */
.dataVisitaForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dataVisitaFormSelectCurso{
    width: 50%;
}
@media screen and (max-width: 768px){
    .dataVisitaForm .input{
        width: 100%;
    }
}
